
.tran-container { 
    margin: 8%;
    background-color: rgba(0,153,255,.5);
    border-radius: 2%;
    box-shadow: 0px 5px 10px white;
}

.tran-buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.tran-container button {
    font-size: 20px;
    color: rgb(18, 86, 233);
    border-radius: 15%;
    box-shadow: 0px 5px 10px blue;
}

.tran-container button:hover {
    color: rgba(0,153,255);
}

